.star_row{
    display: flex;
    gap: 10%;
    justify-content: center;
}
.produkter_row{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
}
h3{
   text-align: center; 
}
.star{
    margin-left: 23%;
}

.storimg{
    width: 60%;
    justify-content: center;

}