/*------------------ fonte start -----------------------*/
@font-face {
  font-family: "nelphim";
  src: url("fonts/nephilm-webfont.woff2") format("woff2");
}
h1{
  font-family: "nelphim";
}
h2{
  font-family: "nelphim";
}
h3{
  font-family: 'Roboto', sans-serif;
}
h4{
  font-family: 'Roboto', sans-serif;
}
h5{
  font-family: 'Roboto', sans-serif;
}
h6{
  font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
button{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
label{
  font-family: 'Roboto', sans-serif;
}
a{
  font-family: 'Roboto', sans-serif;
}
/*------------------ fonte slut -----------------------*/
#burgermenu {
  padding: 0.5rem;
  height: 3rem;
  aspect-ratio: 1/1;
  display: grid;
  align-content: center;
  place-self: center;
  font-size: 3rem;
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--nav-text-color);
  display: none;
  z-index: 20;
  position: relative;

}

@media (max-width: 625px) {
  #burgermenu {
    display: block;
    margin-left: inherit;
  }

  #nav-list {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    flex-direction: column;
    margin-top: 152.4px;
    gap: 0;
    background-color: white;
    z-index: 2;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item a {
    width: 100%;
    padding-block: 3rem;
    display: inline-block;
    text-align: center;
  }

  .nav-item:nth-child(2n) a {
    background-color: #14141422;
  }
}
nav {
  background-color: white;
  padding: 10px;
  width: 100%;
max-width: 1200px;
margin: 0 auto;
}
nav ul li {
  padding: 10px;
  margin: 0 10px;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

 ul {
  list-style-type: none;
} 
.underline-animation {
  position: relative;
  display: inline-block;
} 

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #681543;
  transition: width 0.3s ease;
} */

.underline-animation:hover::after {
  width: 100%;
} 

li {
  float: left;
} 

 li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
} 

li ul {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
} 

li:hover ul {
  display: block;
} 

li ul li {
  float: none;
} 

li ul li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
} 

li ul li a:hover {
  background-color: black;
  color:white;
}
/* --------------------------------- burgermenu stopper------------------------*/
/* --------------------------------- navigation------------------------*/
.logo{
  margin-right: 5%;
  margin-bottom: 5%;
}
.menu2{
  justify-content: center;
  display: flex;
  gap: 5%;
}
.abonnement-button{
border: none;
width: 166px;
height: 40px;
color: #D9D1DE;
background: #681543;  
}
.Goodiebox-button{
border: none;
width: 166px;
height: 40px;

color: #681543;
background: #D9D1DE;
}
.abonnement-button:hover{
background-color: #D9D1DE;
color:#681543;
}
.Goodiebox-button:hover{
background-color: #681543;
color:#D9D1DE;
}
/* --------------------------------- herounit ------------------------*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 5px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.bladoggoodie{
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}
.testi{
  margin-left: 39%;
  margin-top: 5%;
}
.slide2_div2{
  margin-bottom: 10%;
}
h4{
  font-size: 10px;
text-align: center;
}
h1{
  text-align: center;
}

.kongeligbilled{
  width: 100%;
}
.kongeligoverskrift{
  width: 100%;
}
.herounit1_overskrift{
  margin-left: 0%;
}
.tilmed-button{
  padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
width: 200px;
height: 60px;
background: black;
color: white;
margin-left: 25%;
margin-bottom: 5%;
}

.komigang-button{
  padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
width: 200px;
height: 60px;
background: black;
color: white;
margin-left: 25%;
margin-bottom: 5%;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@media only screen and (max-width: 768px) {
  .prev, .next{
    font-size: 16px;
    padding: 10px;
  }
}


.list-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.row {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0;
padding: 0;
list-style: none;
}

.row li {
flex-basis: calc(33.33% - 10px);
margin: 14px;
padding: 10px;
}

@media only screen and (max-width: 768px) {
.row li {
  flex-basis: calc(50% - 10px);
}
}
/* Overskrifter */
.overskrifter{
width: 99%;
margin-top: 5%;
margin-bottom: 5%;
}
/* grid mosaik */
.container {
display: grid;
gap: 1rem;
grid-template-columns: repeat(auto-fill,minmax(240px,1fr)); 
/*    auto-fit will make columns fit on page 
    auto-fill will not make the columns stretch */
grid-auto-rows: 240px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #D9D1DE;
  color: white;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: none;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
@media only screen and (min-width: 600px){
.card-tall {
grid-row: span 2/auto;
}

.card-wide {
grid-column: span 2/auto;
}
}

/* populære */
.numbers{
width: 20%;
margin-left: 39%;
}
/* kanaler  */ 
.iphones{
width: 80%;
margin-left: 50px;
}

.costumedk{
  text-align: center;
}

/* goodiebox*/

.goodiebox-teaser{
width: 80%;
margin-left: 20px;
}
.Goodiebox-button-section{
border: none;
width: 166px;
height: 40px;
color: white;
background:black;
margin-left: 30%;
margin-bottom: 5%;
margin-top: 5%;
}

/* smugkig*/
.smugkig_over{
width: 100%;
}

/* tilmeld */
.newsletter-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
}
.submit{
  background-color: #681543;
  color: #D9D1DE;
  border: none;
}
.submit:hover{
  background-color:  #D9D1DE;
  color: #681543;
}

.input-section {
  width: 40%;
}
.accepter{
  display: flex;
}
#accept-knap{
  width: 10%;
}
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
button[type="submit"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  display: inline-block;
}

.info-section {
  width: 50%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.accept_text{
  font-size: 10px;
}
/*----------------------------- footer mobil -------------------------------*/
footer {
  background: #000;
  color: #fff;
}

.h4footer {
margin-left: 10%;
text-align: unset;
font-size: 16px;
margin-block-end: none;

}

.ul_f {
margin-left: none;
list-style: none;
}

.li_f {
float: none;
list-style: none;
}
.sociale{
  display: flex;
  justify-content: end;
margin-right: 10%;
}

/*----------------------------- desktop-------------------------------*/
/* navigation */
@media only screen and (min-width: 768px) {
/*------------------ fonte start -----------------------*/
@font-face {
  font-family: "nelphim";
  src: url("fonts/nephilm-webfont.woff2") format("woff2");
}
h1{
  font-family: "nelphim";
  Font-size: 40px;
}
h2{
  font-family: "nelphim";
  Font-size: 35px;
}
h3{
  font-family: 'Roboto', sans-serif;
  Font-size: 21.25px;
}
h4{
  font-family: 'Roboto', sans-serif;
  Font-size: 15.00px; 
}
h5{
  font-family: 'Roboto', sans-serif;
}
h6{
  font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
button{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
label{
  font-family: 'Roboto', sans-serif;
}
a{
  font-family: 'Roboto', sans-serif;
}
/*------------------ fonte slut -----------------------*/
.logo{
  width: 40%;
  display: flex;
justify-content: center;
align-items: center;
margin-right: 0%;
margin-bottom: 0%;
}
.menu{
  display: flex;
align-items: center;
justify-content: center;
}
.menu2{
  display: flex;
align-items: center;
justify-content: center;
gap: 20px;
margin-left: 70px;
margin-top: none;
}
nav {
  background-color: white;
  padding: 10px;
  width: 100%;
max-width: 1200px;
margin: 0 auto;
}
nav ul li {
  padding: 10px;
  margin: 0 10px;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
}
#nav-list {
  display: flex;
  justify-content: center;
  margin-right: 5%;
}
.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #681543;
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

li ul {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  margin-left: -3%;
}
.costumeg{
  margin-left: 0%;
}

li:hover ul {
  display: block;
}

li ul li {
  float: none;
}

li ul li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
}

li ul li a:hover {
  background-color: black;
  color:white;
}

.abonnement-button{
border: none;
width: 166px;
height: 40px;
color: #D9D1DE;
background: #681543;  
}
.Goodiebox-button{
border: none;
width: 166px;
height: 40px;
color: #681543;
background: #D9D1DE;
}
.abonnement-button:hover{
background-color: #D9D1DE;
color:#681543;
}
.Goodiebox-button:hover{
background-color: #681543;
color:#D9D1DE;
}
/* -----------------------------------herounit ---------------------------------*/

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  position: absolute;
  top: 70%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.tilmed-button{
  padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
width: 360px;
height: 60px;
background: black;
color: white;
margin-left: 30%;
}
.tilmed-button:hover{
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
.komigang-button{
  padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
width: 360px;
height: 60px;
background: black;
color: white;
margin-left: 30%;
margin-bottom: 2%;
margin-top: 5%;
}
.komigang-button:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
   transform: translateY(-3px) scale(1.1);
}
.next {
  right: 0;
  border-radius: 5px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@media only screen and (max-width: 768px) {
  .prev, .next{
    font-size: 16px;
    padding: 10px;
  }
}
.slide2_div1{
  display: grid;
  justify-content: center;
  display: grid;
}

.slide2_div2{
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-top: 2%;
}
.slide2_h1{
  justify-content: center;
  display: grid;
}
.slide2_p{
  justify-content: center;
  display: grid;
}
.herounit1{
  display: flex;
}
.testi{
  margin-left: 32%;
}

.bladoggoodie{
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}
.list-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.row {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0;
padding: 0;
list-style: none;
margin-left: 6%;;
}

.row li {
flex-basis: calc(33.33% - 10px);
margin: 20px;
padding: 10px;
display: flex;
gap: 5%;
}
.flex-wrap{
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media only screen and (max-width: 768px) {
.row li {
  flex-basis: calc(50% - 10px);
}
}
/* Overskrifter */
.overskrifter{
width: 99%;
margin-top: 0%;
margin-bottom: 0%;
}
/* grid mosaik */
.container {
display: grid;
gap: 1rem;
grid-template-columns: repeat(auto-fill,minmax(240px,1fr)); 
/*    auto-fit will make columns fit on page 
    auto-fill will not make the columns stretch */
grid-auto-rows: 240px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #D9D1DE;
  color: white;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: none;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  /* -webkit-filter: blur(2px);
      filter: blur(2px); */
}
@media only screen and (min-width: 600px){
.card-tall {
grid-row: span 2/auto;
}

.card-wide {
grid-column: span 2/auto;
}
}
.kongeligbilled{
  width: 50%;
}
.herounit1_overskrift{
  margin-left: 6%;
  margin-top: 5%;
}
/* populære */
.numbers{
width: 14%;
margin-left: 0%;
}
.hoover_pop:hover{
transform: translateY(-3px) scale(1.1);
}
.a_style{
  text-align: unset;
}
/* kanaler  */ 
.iphones{
width: 50%;
margin-left: 25%;
}

/* goodiebox*/

.goodiebox-teaser{
width: 80%;
margin-left: 70px;
}
.Goodiebox-button-section{
  border: none;
  width: 360px;
  height: 60px;
  color: white;
  background:black;
  margin-left: 37%;
  margin-top: 3%;
  margin-bottom: 0%;
  }
  .Goodiebox-button-section:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
  }

/* smugkig*/
.smugkig_over{
width: 100%;
}

/* pop up tilmed dig til nyhedsbrev */
/* Popup-containeren */
.popup {
  display: none; /* Gemmer popup'en som standard */
  position: fixed; /* Fast position på skærmen */
  z-index: 1; /* Sørg for, at popup'en er forrest */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Gør det muligt at rulle, hvis indholdet er større end skærmen */
  background-color: rgba(0,0,0,0.4); /* Baggrundsfarve for popup'en */
}

/* Indholdet i popup'en */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrerer popup'en på skærmen */
  padding: 10px;
  border: 1px solid #888;
  width: 40%; /* Sæt bredden på popup'en */
}

/* Luk-knappen */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Style submit-knappen */
.submit-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

/* tilmeld */
.newsletter-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
  width: 500px;
  margin-left: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.submit{
  background-color: #681543;
  color: #D9D1DE;
  border: none;
}
.submit:hover{
  background-color:  #D9D1DE;
  color: #681543;
}

.input-section {
  width: 40%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
button[type="submit"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
}

.info-section {
  width: 55%;
}
.accepter{
  display: flex;
}
#accept-knap{
  width: 10%;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
h3{
  text-align: center;
}
.accept_text{
  font-size: 10px;
}
/*---------------------------------- footer--------------------------------------*/
footer {
  background: #000;
  color: #fff;
}

.container_footer {
 display: flex; 
 justify-content: center;
}

.row_footer {
  display: flex;
}

.h4footer {
  margin-right: 35%;
text-align: center;
font-size: 16px;
}

.ul_f {
margin-left: none;
list-style: none;
}

.li_f {
float: none;
list-style: none;
}
.sociale{
  display: flex;
  justify-content: end;
margin-right: 10%;
}

h3{
  font-family: 'Roboto', sans-serif;
  Font-weight:400;
}
h4{
  font-family: 'Roboto', sans-serif;
}
h5{
  font-family: 'Roboto', sans-serif;
}
h6{
  font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
button{
  font-family: 'Roboto', sans-serif;
font-weight: bold;
}
label{
  font-family: 'Roboto', sans-serif;
}
}